MATRIX CALCULATIONS IN PYTHON: Calculating Mahalanobis Distances in Python (Multivariate Analysis)

In [1]:
import numpy as np
import pandas as pd
import openpyxl

Getting and Cleaning data

In [2]:
data = pd.read_excel("C:\\Users\\Susane Kiwana\\Desktop\\Matrix Algebra\\Testing for Multivariate Outliers.xlsx")
data.drop(["Unnamed: 5"],axis=1,inplace=True)
data.drop(["Unnamed: 6"],axis=1,inplace=True)  #unfortunately, the drop command only works with one column/row at a time
data.drop(["Unnamed: 7"],axis=1,inplace=True)
data.drop(["Unnamed: 8"],axis=1,inplace=True)
data.drop(["Unnamed: 9"],axis=1,inplace=True)
data.drop(["Unnamed: 10"],axis=1,inplace=True)
data.drop([0],axis=0,inplace=True)
data.drop([1],axis=0,inplace=True)

#Reindexing
new_header = data.iloc[0] #grab the first row for the header
data = data[1:] #take the data less the header row
data.columns = new_header #set the header row as the df header

data.reset_index(drop=True,inplace=True)  #use inplace = True if you want to make direct edits on the dataframe
data

2  Individual    y1    y2    y3    y4
0           1  47.8  48.8    49  49.7
1           2  46.4  47.3  47.7  48.4
2           3  46.3  46.8  47.8  48.5
3           4  45.1  45.3  46.1  47.2
4           5  47.6  48.5  48.9  49.3
5           6  52.5  53.2  53.3  53.7
6           7  51.2    53  54.3  54.5
7           8  49.8    50  50.3  52.7
8           9  48.1  50.8  52.3  54.4
9          10    45    47  47.3  48.3
10         11  51.2  51.4  51.6  51.9
11         12  48.5  49.2    53  55.5
12         13  52.1  52.8  53.7    55
13         14  48.2  48.9  49.3  49.8
14         15  49.6  50.4  51.2  51.8
15         16  50.7  51.7  52.7  53.3
16         17  47.2  47.7  48.4  49.5
17         18  53.3  54.6  55.1  55.3
18         19  46.2  47.5  48.1  48.4
19         20  46.3  47.6  51.3  51.8

Trying to Calculate the Covariance Matrix Here, not so sure

In [5]:
array = np.array([data["y1"],data["y2"],data["y3"],data["y4"]]).astype(float)    #astype(float) averts the error 'float' object has no attribute 'shape'
cov_matrix = np.cov(array)                                                       #the calculations are unbiased (N-1) but they can be set to biased (N)

cov_matrix

array([[6.32997368, 6.18907895, 5.777     , 5.54815789],
       [6.18907895, 6.44934211, 6.15342105, 5.92342105],
       [5.777     , 6.15342105, 6.918     , 6.94631579],
       [5.54815789, 5.92342105, 6.94631579, 7.46473684]])

Getting the inverse of the 4X4 Covariance Matrix M

In [7]:
# M = np.array([[6.013475,5.879625,5.48815,5.27075],[5.879625,6.126875,5.84575,5.62725],[5.48815,5.84575,6.5721,6.599],[5.27075,5.62725,6.599,7.0915]]) from excel
M = np.array(cov_matrix)
M_inverse = np.linalg.inv(M)
M_inverse

array([[ 2.67510329, -2.91612405,  0.50077107, -0.14025663],
       [-2.91612405,  4.36496254, -2.22115354,  0.77061518],
       [ 0.50077107, -2.22115354,  4.66205651, -2.94794667],
       [-0.14025663,  0.77061518, -2.94794667,  2.36992364]])

Calculating the determinant

In [8]:
M_det = np.linalg.det(M).round(4)
M_det

1.0683

CREATING A DATAFRAME FROM 1 TO 20

Trying to compute the Mahalanobis distances Di_squared

In [9]:
data["DI squared"] = 0
for i in range(0,20):
       Mean_vector = np.array([[data.iloc[i,1]-48.655, data.iloc[i,2]-49.625, data.iloc[i,3]-50.57, data.iloc[i,4]-51.45]])
       Mean_vector_transpose = np.array([[data.iloc[i,1]-48.655], [data.iloc[i,2]-49.625], [data.iloc[i,3]-50.57], [data.iloc[i,4]-51.45]])
       Matrix_Product = np.matmul(np.matmul(Mean_vector,M_inverse),Mean_vector_transpose)
       data.iloc[i,5] = Matrix_Product.__float__()    #Matrix_Product.__float__() is the same as float(Matrix_Product)
       
data.to_excel("C:\\Users\\Susane Kiwana\\Desktop\\Matrix Algebra\\Dataset_Mahalanobis.xlsx")
data

2  Individual    y1    y2    y3    y4  DI squared
0           1  47.8  48.8    49  49.7    0.758931
1           2  46.4  47.3  47.7  48.4    1.297351
2           3  46.3  46.8  47.8  48.5    1.754242
3           4  45.1  45.3  46.1  47.2    3.860850
4           5  47.6  48.5  48.9  49.3    0.877649
5           6  52.5  53.2  53.3  53.7    2.822157
6           7  51.2    53  54.3  54.5    4.057329
7           8  49.8    50  50.3  52.7    8.110586
8           9  48.1  50.8  52.3  54.4   10.951197
9          10    45    47  47.3  48.3    5.846196
10         11  51.2  51.4  51.6  51.9    2.839302
11         12  48.5  49.2    53  55.5   10.579518
12         13  52.1  52.8  53.7    55    2.579715
13         14  48.2  48.9  49.3  49.8    0.662526
14         15  49.6  50.4  51.2  51.8    0.332479
15         16  50.7  51.7  52.7  53.3    0.846232
16         17  47.2  47.7  48.4  49.5    1.114196
17         18  53.3  54.6  55.1  55.3    4.410403
18         19  46.2  47.5  48.1  48.4    2.124910
19         20  46.3  47.6  51.3  51.8   10.174232